<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Анциферов Герман</title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <% current_tagname locals['tagname'] %>

    <div class="wrapper">
      <%= partial "partials/header" %>

      <section class="blog container">
        <div class="blog__aside">
          <%= partial "partials/categories" %>
        </div>
        <div class="blog__content">
          <% if is_blog_article? %>
            <%= article_tag current_article %>
          <% else %>
            <% page_articles.each do |article| %>
              <%= article_tag article, type: :summary %>
            <% end %>
          <% end %>
        </div>
      </section>
    </div>

    <%= partial "partials/footer" %>
  </body>
</html>
