<article class="article">
  <h2 class="title article__title">
    <a href="/"><span class="octicon octicon-home title__home"></span></a>
    <span>&raquo;</span>
    <span class="title__article"><%= article.title.capitalize %></span>
  </h2>

  <ul class="meta">
    <li class="meta__item">
      <span class="octicon octicon-calendar"></span>
      <%= I18n.l article.date, format: "%B %d, %Y" %>
    </li>
    <% if article.tags.any? %>
      <li class="meta__item">
        <span class="octicon octicon-file-directory"></span>
        <% article.tags.map do |tag| %>
          <%= link_to tag, tag_path(tag), class: 'meta__link' %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="article__body markdown-body">
    <%= article.body %>
  </div>
</article>

<div class="comments">
  <%= partial "partials/disqus" %>
</div>
