<article class="article">
  <% if type == :full %>
    <%= partial "partials/article/breadcrumbs", locals: { article: article } %>
  <% else %>
    <%= partial "partials/article/title", locals: { article: article } %>
  <% end %>

  <%= partial "partials/article/meta", locals: { article: article } %>

  <div class="article__body markdown-body">
    <%= type == :summary ? article.summary : article.body %>
  </div>

  <%= partial "partials/article/readmore", locals: { article: article } if type == :summary %>

</article>

<%= partial "partials/article/comments", locals: { article: article } if type == :full %>
