<article class="article blog__article">
  <div class="meta article__meta">
    <time class="meta__time"><%= I18n.l article.date, format: "%A, %-d %B %Y" %></time>
  </div>
  <h1 class="article__title">
    <%= article.title.capitalize %>
  </h1>
  <div class="article__text"><%= article.body %></div>
  <div class="article__tags">
    <%= partial "partials/tags", locals: { tags: article.tags } %>
  </div>
</article>
<div class="comments">
  <%= partial "partials/disqus" %>
</div>
